@import config

.wrap
    height: 30px
    margin: 40px 0
    width: 100%
    // background-color: $red-800
.input-box
    display: flex
    align-items: center
.form-label
    width: 100%
.result-box
    width: 100%
    margin: 7px 0
    p
        font-size: 14px
        color: $grey
// .canvas-box
//     display: flex
//     align-items: center
//     justify-content: center

.answer-box
    display: flex
    justify-content: center
    width: 100%
    margin: 30px 0

.result
    width: 50%
    p
        font-size: 12px
        color: $light

.map-box
    display: flex
    height: 400px
    align-items: center
    justify-content: center
.map
    width: 100%
    height: auto
.map-rezult
    padding: 10px
    p
        font-size: 12px

@keyframes appear 
	0%
		opacity: .8
		transform: scale(.5, .5)
	
	70%
		opacity: .3
		transform: scale(1, 1)
	
	100%
		opacity: 0
		transform: scale(.5, .5)
	

@-webkit-keyframes appear 
	0%
		opacity: .8
		-webkit-transform: scale(.5, .5)
	
	70%
		opacity: .3
		-webkit-transform: scale(1, 1)
	
	100%
		opacity: 0
		-webkit-transform: scale(.5, .5)
	

.cursor 
	position: fixed
	width: 30px
	height: 30px
	margin: 0
    padding: 0
	border-radius: 50%
	background: #ef2c68
	animation: appear .2s
	-webkit-animation: appear .2s

.col-6:not(:last-child)
    display: flex
    justify-content: center

.figure
    display: grid
    justify-content: center
    &-caption
        margin-left: 20px

#snowman, #points, #ball, #gameBall, #snake-area
    padding: 10px
    margin: 20px
    width: auto
    height: auto
    border: 3px dashed #a3a1a1
    border-radius: 15px 

#ball, #gameBall, #snake
    padding: 0

.ball
    align-items: flex-start

.inputs
    display: flex
    align-items: flex-start

.dib
    display: block
    margin-bottom: 30px

.df
    display: flex
    justify-content: space-between

.margin
    margin: 10px 4px

.snake
    display: flex
    justify-content: center

.description
    margin-left: 100px